header {
  --stateY: -100%;
  animation: move .2s;
}

footer {
  --stateY: 100%;
  animation: move .2s;
}

@keyframes move {
  from {
    transform: translateY(var(--stateY));
  }
}

.item {
  --dalay: .4s;
  animation: appear .4s var(--dalay) backwards ;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(.7);
  }
  50% {
    transform: scale(1.2s);
  }
}